* {
    margin: 0;
}

body {
    background-color: black;
    color: white;
}

.img img {
    display: flex;
    margin: auto;
}

.header {
    background-color: gray;
    padding: 15px;
}

.header a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
}

.main {
    margin-top: 20px;
    margin: 15px;
}

.main p {
    margin-top: 10px;
}

.footer {
    margin-top: 50px;
    text-align: center;
}